.sobre-nosotros{

    margin: 20px 50px;

    padding: 22px;

    border-radius: 14px;

    background-color: orange
}

@media (max-width: 600px){

    .sobre-nosotros{

        margin: 20px 15px;

        padding: 22px;

        border-radius: 14px;
     }
}